body {
  background-color: aliceblue;
}
table tbody tr:hover {
  background-color: #f1e6d6;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
