.payment-container {
  width: 40%;
  margin: 60px auto;
  padding: 40px;
  background: #f5f1e8;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.payment-form input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.payment-form button {
  width: 100%;
  padding: 12px;
  background-color: #c5a97d;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #b49365;
}
.back-btn {
  background-color: #e6d5bd;   /* soft cream */
  color: #5c4630;              /* dark brown text */
  border: 1px solid #d2b48c;
  padding: 7px 18px;
  border-radius: 20px;         /* pill style */
  cursor: pointer;
  margin-bottom: 25px;
  font-weight: 500;
  transition: 0.3s ease;
}

.back-btn:hover {
  background-color: #d8c2a5;
}
